{% extends 'ext/layout.html.twig' %}

{% block content %}
    <div>
        <div>
            {% if persons | length %}
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                    <tr>
                        {% for property in ['edit', 'nickname', 'firstname', 'lastname', 'gender', 'user', 'delete'] %}
                            <td class="mdl-data-table__cell--non-numeric">
                                <span>{{ ('page.person.table.header.' ~ property) | trans }}</span>
                            </td>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for person in persons %}
                        {# @var person \AppBundle\Entity\Person #}

                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">
                                <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                                    <i class="material-icons">edit</i>
                                </button>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <span>{{ person.nickname }}</span>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <span>{{ person.firstname }}</span>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <span>{{ person.lastname }}</span>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <span>{{ person.female ? '&#9792;' : '&#9794;' }}</span>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <span>{{ person.user }}</span>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <button class="mdl-button mdl-js-button mdl-button--icon mdl-color-text--red-900">
                                    <i class="material-icons">delete_forever</i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>{{ 'page.person.table.empty' | trans }}</p>
            {% endif %}
        </div>
        <div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                <span>{{ 'page.person.table.create' | trans }}</span>
            </button>
        </div>
    </div>
{% endblock %}