<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input id="{{ inputId }}" name="{{ inputName }}" class="mdl-textfield__input"
           type="text" maxlength="{{ inputMaxlength }}" value="{{ inputValue }}"
            {% if inputRequired %} required{% endif %}>
    <label class="mdl-textfield__label" for="{{ inputId }}">{{ inputText }}</label>
</div>
