{% extends 'ext/layout.html.twig' %}

{% set urlKeyCreate = 'app_' ~ name ~ '_create' %}
{% set urlCreate = path(urlKeyCreate) %}
{% set urlKeyUpdate = 'app_' ~ name ~ '_update' %}
{% set urlKeyDelete = 'app_' ~ name ~ '_delete' %}

{% block content %}
    <div class="admin-base-read">
        <div class="admin-base-read-table">
            {% if entities | length %}
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">
                            <span>{{ 'base.table.header.update' | trans }}</span>
                        </td>

                        {% for property in properties %}
                            <td class="mdl-data-table__cell--non-numeric">
                                <span>{{ ('page.' ~ name ~ '.properties.' ~ property) | trans }}</span>
                            </td>
                        {% endfor %}

                        <td class="mdl-data-table__cell--non-numeric">
                            <span>{{ 'base.table.header.delete' | trans }}</span>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">
                                <a href="{{ path(urlKeyUpdate, { id: entity.id }) }}"
                                   class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                                    <i class="material-icons">edit</i>
                                </a>
                            </td>

                            {% for property in properties %}
                                <td class="mdl-data-table__cell--non-numeric">
                                    <span>{{ attribute(entity, property) }}</span>
                                </td>
                            {% endfor %}

                            <td class="mdl-data-table__cell--non-numeric">
                                <a href="{{ path(urlKeyDelete, { id: entity.id }) }}"
                                   class="mdl-button mdl-js-button mdl-button--icon mdl-color-text--red-900">
                                    <i class="material-icons">delete_forever</i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>
                    <span>{{ 'base.table.empty' | trans }}</span>
                </p>
            {% endif %}
        </div>
        <div class="admin-base-read-create">
            <a href="{{ urlCreate }}"
               class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                <span>{{ 'base.table.create' | trans }}</span>
            </a>
        </div>
    </div>
{% endblock %}